<div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
        <img src="assets/images/mac.png" alt="img" draggable="false">
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
</div>