<div class="container-flud bg-header">
    <nav class="navbar container-sm p-0">
        <div class="navbar-brand min-vw-25">
            <a><img src="assets/images/topzone-icon.png" height="40" alt=""></a>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-current="page" href="#">Iphone</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" href="#">Mac</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" href="#">Ipad</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-disabled="true">Watch</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-disabled="true">Tai nghe, loa</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-disabled="true">Phụ kiện</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-disabled="true">TekZone</div>
            </li>
            <li class="nav-item p-2">
                <div class="nav-link text-light" aria-disabled="true">TopCare</div>
            </li>
        </ul>

        <div class="container-flud min-vw-25 text-end">
            <div class="rounded-circle p-2 d-inline-block bg-body-secondary bg-opacity-25 text-center mx-2">
                <i class="fa-light fa-magnifying-glass fs-5 p-1 text-white"></i>
            </div>
            <div class="rounded-circle p-2 d-inline-block bg-body-secondary bg-opacity-25 text-center mx-2">
                <i class="fa-light fa-bag-shopping fs-5 p-1 text-white"></i>
            </div>
        </div>
    </nav>
    <app-slider></app-slider>

    <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <!-- <div style="color: white;" *ngFor="let item of list">{{ item }}</div> -->
            <div ngxSlickItem class="card m-2 bg-dark rounded-4" *ngFor="let item of list">
                <div class="card-header border-bottom border-dark">
                    abc
                </div>
                <div class="card-body">
                    <img src="assets/images/iphone-16-pro-max-product.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-light mb-3 text-center">Name Product</p>
                        <p class="card-text text-light mb-0 text-center">Price</p>
                        <p class="card-text text-light text-center">Note Title</p>
                    </div>
                </div>
            </div>

        </ngx-slick-carousel>
    </div>
</div>