.bg-header {
    background-color: #101010;
}

ul.nav {
    li {
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(.645, .045, .355, 1);
        transition-property: background;
        cursor: pointer;
        user-select: none;
    }

    li:hover {
        background: #2d2d2d !important;
    }
}

.slick-prev-custom::before {
    content: "->" !important;
    color: red;
    font-size: 30px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
}

.slick-next::before {
    content: "<-" !important;
    color: red;
    font-size: 30px;
}